<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <title></title>
    <!-- Common -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../lib/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./index.css" />
    <link type="text/css" rel="stylesheet" href="./contents_two.css" />

    <!-- Component -->
    <link rel="import" href="../components/comp-navi.html">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <comp-navi></comp-navi>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-align-left"></i>
                        <span>사이드바 접기</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>

            <h2>입력 폼 예제2</h2>
            <div class="row">
                <div class="col-8">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center parent" id="p1">
                            Cras justo odio
                            <i class="fa fa-chevron-up"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p1" style="display: none!important">
                            Child 1
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p1" style="display: none!important">
                            Child 2
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center parent" id="p2">
                            Dapibus ac facilisis in
                            <i class="fa fa-chevron-up"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p2" style="display: none!important">
                            Child 1
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p2" style="display: none!important">
                            Child 2
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center parent" id="p3">
                            Morbi leo risus
                            <i class="fa fa-chevron-up"></i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p3" style="display: none!important">
                            Child 1
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center child" data-parent="p3" style="display: none!important">
                            Child 2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Common -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>

    <!-- Main -->
    <script src="./contents_two.js"></script>

    <script>
        (function (global) {
            'use strict';

            var document = global.document;
            var is_support_register = 'registerElement' in document;
            var is_support_import = 'import' in document.createElement('link');
            var is_support_template = 'content' in document.createElement('template');

            if (!is_support_register || !is_support_import || !is_support_template) {
                var polyfill = document.createElement('script');
                polyfill.src = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.2/webcomponents-lite.js';
                document.body.appendChild(polyfill);
            }

        })(window);
    </script>
</body>
</html>