<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../lib/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../lib/bootstrap-treeview.min.css" />
    <link type="text/css" rel="stylesheet" href="./settings.css" />
    <!-- Component -->
    <link rel="import" href="../components/comp-navi.html">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <comp-navi></comp-navi>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-align-left"></i>
                        <span>사이드바 접기</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>

            <h2>설정</h2>
            <div class="row">
                <div id="tree" class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row">
                        <button type="button" id="add-btn" class="btn">Add</button>&nbsp;
                        <button type="button" id="delete-btn" class="btn">Delete</button>
                    </div>
                    <div id="info-node" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Common -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/bootstrap-treeview.min.js"></script>


    <!-- Main -->
    <script src="settings.js"></script>

    <script>
        (function (global) {
            'use strict';

            var document = global.document;
            var is_support_register = 'registerElement' in document;
            var is_support_import = 'import' in document.createElement('link');
            var is_support_template = 'content' in document.createElement('template');

            if (!is_support_register || !is_support_import || !is_support_template) {
                var polyfill = document.createElement('script');
                polyfill.src = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.2/webcomponents-lite.js';
                document.body.appendChild(polyfill);
            }

        })(window);
    </script>
</body>
</html>